body{
    background-color: RGB(231, 250, 210);
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 4rem;

}
label{
    font-family: "DecoType Naskh";
}
h1, h2{
    font-family: Avenir;
}
.btn{
    background-color: #073826; /* Green */
    border-radius: 30px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Avenir Next";
    font-size: 90%;
    margin-bottom: 1rem;
}
a:hover {
    background-color: 	#026440;
}